/* グローバル */
html {
  /* font-family: "Noto Sans JP", sans-serif; */
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", sans-serif;
  min-width: 1200px;
}
body {
  margin: 0px;
}
h1 {
  font-size: 32px;
  font-weight: 100;
}
h2 {
  color: #292828;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.4;
  margin: 20px;
}
h3 {
  line-height: 1.5;
  color: #9da0a4;
  margin-bottom: 14px;
  font-size: 14px;
  font-weight: 400;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
  padding: 0;
  text-decoration: none;
}
li {
  margin: 0px 10px;
  color: #707070;
}
li:hover {
  color: #60c3ff;
}
main {
  margin: 0;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 0;
  padding-bottom: 60px;
}
p {
  font-size: 16px;
}
i {
  margin-right: 10px;
}
.border {
  border-bottom: #59b1eb 1px solid;
}
.border_si {
  border-bottom: #e4e4e4 1px solid;
  margin: 32px 0px;
}
input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  appearance: none;
  padding: 8px 12px;
  background-color: rgb(250, 250, 250);
}
select {
  height: 31px;
  width: 88px;
  border-radius: 5px;
  border: 1px solid #ccc;
  appearance: none;
  background-color: white;
}

/* ヘッダー */
header {
  height: 60px;
  background-color: white;

  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.4), 0 0 0 1px rgba(0, 0, 0, 0.08);
  position: relative;
  z-index: 100;
}
header img {
  height: 55px;
  margin-left: 15px;
  margin-top: 3px;
}

/* メイン */
.main_wrap {
  width: 880px;
  margin-top: 40px;
}
/* トップ */
.tp {
  padding-bottom: 7px;
  padding-top: 7px;
  padding-left: 17px;
  border-bottom: #1d90d8 2px solid;
  margin-bottom: 40px;
  background-color: white;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.4), 0 0 0 1px rgba(0, 0, 0, 0.08);
}
.tp span {
  font-size: 12px;
  color: #707070;
  padding-left: 30px;
  font-weight: 100;
}

/* 本体 */
.cent {
  margin-bottom: 40px;
  background-color: white;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.4), 0 0 0 1px rgba(0, 0, 0, 0.08);
  padding: 0 52px;
  overflow: hidden;
}
.cent_in1 {
  /* text-align: center; */
  margin: 40px 0;
  margin-bottom: 60px;
}
.cent_in1 h3 {
  /* font-size: 14px; */
  color: #d81d2a;
  margin-top: 32px;
}

/* セパレートコンテント */
.sep_cont {
  margin: 60px 0px;
  margin-bottom: 100px;
  padding-top: 20px;
  border-radius: 4px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.02);
  border-top: #1d90d8 3px solid;
  background-color: snow;
  text-align: center;
  padding-bottom: 40px;
}
.sep_cont h2 {
  color: #59b1eb;
}
/* ボタン */
.button-panel {
  margin-top: 32px;
  margin-bottom: 18px;
}
.button {
  background: #60c3ff;
  color: #fff;
  cursor: pointer;
  text-align: center;
  transition: background 0.3s ease-in-out;
  font-size: 14px;
  line-height: 22px;
  width: 285px;
  height: 52px;
  border-radius: 50px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.02);
  font-weight: 600;
  font-size: 16px;
  line-height: 52px;
}
.button:hover {
  background: #60c2ffa1;
}
/* リンク */
.sep_cont a {
  font-size: 12px;
  color: #59b1eb;
  border-bottom: #59b1eb 1px solid;
}
.link_i {
  margin: 0 10px;
}

/* フッター */
footer {
  background-color: #0f4566;
}
.ft_left {
  display: flex;
  align-items: center;
}
.ft_main {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
}
.ft_main ul {
  display: flex;
  align-items: center;
}
.ft_link {
  font-size: 14px;
  color: #fff;
}
.ft_li {
  margin: 0 20px;
}
.ft_right_link {
  width: 200px;
  height: 40px;
  margin: 0 10px;
  background-color: #fff;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.4), 0 0 0 1px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}
.ft_right_link {
  font-size: 14px;
  font-weight: 600;
  /* margin: 0; */
  padding: auto 0;
}
.ft_right_link_inner {
  margin: auto 0;
}
.comp_arrow {
  margin-left: 10px;
}
.ft_rg {
  height: 40px;
}
